<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Zhovta_Robot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <Zhovta_Robot.Properties.Settings>
            <setting name="PathFileAccounts" serializeAs="String">
                <value>Accounts.rbt</value>
            </setting>
            <setting name="PathFileLogs" serializeAs="String">
                <value>Logs.log</value>
            </setting>
        </Zhovta_Robot.Properties.Settings>
    </userSettings>
</configuration>